<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('../layouts/head'); %>
</head>

<body class="container" style="background-color: rgb(109, 22, 48);">
    <header>
      <%- include('../layouts/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is a sample application. It has been created using NodeJS, Expressjs and EJS. </h1>
        </div>
    </main>
        
    <footer>
      <%- include('../layouts/footer'); %>
    </footer>
</body>

</html>
